
/Customer Interface/js/backend/__pycache__
Customer Interface/js/backend/__pycache__/members.cpython-311.pyc
Customer Interface/js/backend/__pycache__/products.cpython-311.pyc
Customer Interface/js/backend/__pycache__/sql_connection.cpython-311.pyc
*.pyc
