body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.account-option {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.account-option:hover {
    background-color: #f0f0f0;
}

.account-option img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 8px;
}

.account-option div {
    flex-grow: 1;
}

.account-option h2 {
    margin: 0;
    font-size: 18px;
}

.account-option p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.reward-points-section {
    margin-top: 40px;
}

.reward-points-section h2 {
    font-size: 20px;
    color: #421a1a;
}

.reward-points-section p {
    font-size: 16px;
    color: #270b0b;
}

.overlay-background {
    background-color: rgba(98, 100, 218, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.points-summary-heading {
    display: flex;
    align-items: center;
}

.points-summary-icon {
    margin-right: 10px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.expiry-dates {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.expiry-date {
    text-align: center;
}

.expiry-date p {
    margin: 5px 0;
}

.points-summary {
    margin-top: 20px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #f0f0f0;
    border-bottom: 2px solid #f00;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent table {
    width: 100%;
    border-collapse: collapse;
}

.tabcontent th,
.tabcontent td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabcontent th {
    background-color: #f0f0f0;
    color: #333;
}

.tabcontent tr:nth-child(even) {
    background-color: #f4f4f4;
}

.tabcontent tr:hover {
    background-color: #ddd;
}

.tabcontent td[colspan="2"] {
    text-align: right;
    font-weight: bold;
}

.tabcontent td:last-child {
    text-align: center;
}