body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

nav ul li.order-now a {
    display: block;
    width: 100px;
    height: 40px;
    background-color: teal;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



nav ul li.order-now a:hover {
    background-color: darkcyan;
}


.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

#home {
    background-image: url('../asset/sandwich 3.jpg');
}

.section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.content {
    position: relative;
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: white;
    animation: fadeInDown 2s;
}

.subheading {
    font-size: 2em;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: white;
    animation: fadeInUp 2s;
}

.highlight {
    color: #FF4500;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0 0;
}

#about h2 {
    text-align: center;
    margin-bottom: 40px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* Make sure containers stretch to the same height */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.about-section {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensure even spacing */
    min-height: 300px;
    /* Set a minimum height */
}

.about-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-section p {
    line-height: 1.6;
    flex-grow: 1;
    /* Make paragraph take up available space */
}

#about {
    background-image: url('../asset/about-home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 20px;
}

#Rewards {
    background-image: url('../asset/reward-home.webp');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

#Rewards .content {
    max-width: 800px;
    margin: 0 auto;
}

#Rewards h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

#Rewards p {
    margin: 20px 0;
    font-size: 1.2em;
    line-height: 1.5;
}

#Rewards .rewards-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

#Rewards .reward-item {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    min-width: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#Rewards .reward-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

#Rewards .reward-item p {
    font-size: 1.1em;
    line-height: 1.4;
}

#Rewards a {
    color: #FFD700;
    /* Gold color for the link */
    text-decoration: underline;
}

#Rewards a:hover {
    text-decoration: none;
}
.contact-section {
    background: #000;
    color: white;
    text-align: left;
    padding: 50px 20px;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    margin: 10px;
    flex: 1 1 40%;
    max-width: 40%;
    box-sizing: border-box;
}

.form-group.full-width {
    flex: 1 1 100%;
    max-width: 100%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: white;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #bbb;
    font-family: Arial, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group input:hover,
.form-group textarea:hover {
    background-color: rgba(64, 224, 208, 0.5);
}

button,
.order-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: teal;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto 0;
    display: block;
    text-decoration: none;
}

button:hover,
.order-button:hover {
    background-color: #e63900;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info a {
    color: #40E0D0;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.success-message {
    text-align: center;
    margin-top: 20px;
    color: #40E0D0;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.product {
    text-align: center;
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    animation: fadeIn 2s;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product img:hover {
    transform: scale(1.05);
}

#products {
    background-image:url('../asset/reward-home.webp');
    padding: 20px;  
    border-radius: 8px;
}

#locations {
    background-image: url('../asset/downtown-cafe.jpg');
    padding: 50px 20px;
    text-align: center;
}

#locations .content {
    max-width: 1800px;
    /* Increase the max-width */
    margin: 0 auto;
}

#locations h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
}

#locations .location {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    /* Increase padding */
    margin: 30px 0;
    /* Increase margin */
  
    text-align: left;
}

#locations .location h3 {
    margin-bottom: 15px;
    /* Increase margin-bottom */
    font-size: 1.75em;
    /* Increase font-size */
    color: #faf4f4;
}

#locations .location p {
    margin: 10px 0;
    /* Increase margin */
    font-size: 1.1em;
    /* Increase font-size */
    color: #f8f8f8;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}